# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
#.env is ignored by default; add explicit entry
.env
index.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# builds & logs
*.apk
*.log
*.zip
temp_fix.gradle

# IDE
.idea/

# analysis
architecture.txt
bug-reports-list.txt
swot-analysis.txt
testing-documentation.txt
user-flow.txt

# presentations
Презентація/
